.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
  text-align: center;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  z-index: 10;
}

.my-button{
  width: 190px!important;
  min-width: unset!important;
  text-align: left;
  margin-bottom: 10px;
}